<div class="all-content">
  <div class="header">
    <h1>Hi, I'm Davide</h1>
    <h2>And I Build Things</h2>
  </div>

  <main id="main-content">
    <div>
      <p>
        I'm a Frontend Developer with
        <span
          matTooltipClass="largerTooltip"
          matTooltipShowDelay="1000"
          matTooltip="Yes, it's dynamic :)"
          matTooltipPosition="above"
        >
          {{ firstDayOfWork | diffDates }}
        </span>
        of experience.
      </p>
      <p>
        I don’t just like to code, instead i love trying to write good code that can eventually
        scale, be reusable and mostly important be readable (I don’t want to get insulted by my
        future self).
      </p>
      <p>
        I always try to develop with the goal of bringing the best UX possible, mainly because I’m
        also an avid user of this thing called ”Internet”, so i do know how it feels like when you
        visit an outstanding website.
      </p>
    </div>
  </main>
</div>
