<div id="main-container">
  <mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="devicon-react-plain colored"></i>
      </div>
      react-firebase-social-app
    </mat-card-header>
    <img
      (click)="openLink('https://github.com/davidediak/react-firebase-social-app')"
      mat-card-image
      src="assets/images/project1.jpg"
      alt="First Project"
    />
    <mat-card-content>
      <p>
        I did this project in the summer of 2019 to learn React and Redux. I'm not the ideator of
        the project, i followed
        <a
          href="https://www.youtube.com/playlist?list=PLMhAeHCz8S38ryyeMiBPPUnFAiWnoPvWP"
          target="_blank"
          rel="noopener noreferrer"
        >
          this Classed playlist
        </a>
      </p>
      <p>
        Frontend: React ,Redux, Material-UI.
        <br />
        Backend: Firebase, Express.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="devicon-angularjs-plain colored"></i>
      </div>
      This very website!
    </mat-card-header>
    <img
      (click)="openLink('https://github.com/davidediak/personal-site')"
      mat-card-image
      src="assets/images/project2.jpg"
      alt="First Project"
    />
    <mat-card-content>
      <p>
        Frontend: Angular 10, Angular Material.
      </p>
    </mat-card-content>
  </mat-card>
</div>
